/external_pkg_install_dir
/external_pkg_build_dir
libdrc-vnc/drcvncclient/config.log
libdrc-vnc/drcvncclient/config.status
drc-hostap/wpa_supplicant/.config
drc-hostap/wpa_supplicant/get_psk.conf
drc-hostap/wpa_supplicant/drc_pair.conf
drc-hostap/hostapd/.config
